body {
    background-color: aqua;
}
a {
    color: #fff; /* Cambiar el color del enlace a blanco (#fff) */
    text-decoration: none; /* Esto quita la subrayado por defecto en los enlaces */
}
.button {
    padding: 0.6em 0.9em;
    font-size: 1em;
    background-color: transparent;
    border: 0.2em solid;
    border-color: #00ffff #04ff00 #0051ff #d400ff;
    border-radius: 1.5em;
    color: #fff;
    cursor: pointer;
  }