#contenido {
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: #d10e0e;
    text-align: center;
    
}
body{
   background-color: #222f3e;
}
.titulos {
    text-align: center;
}
.color {
    background-color: orangered;
}
.segunda{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.heart{
    position: relative;
    background-image: url(imagen1.jpg);
    background-position: -400px -750px;
    background-size: 300px;
    transform: rotate(45deg);
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: -200px;
    right: 0px;
}
.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.heart::before{
    position: absolute;
    top: -100px;
    background-image: url(imagen1.jpg);
    background-size: 300px;
    background-position: -100px 417px;
}
.heart::after{
    z-index: 0;
    left: -100px;
    background-image:url(imagen1.jpg);
    background-size: 300px;
    background-position: 0px -749.9px;
}
button{
    background-color: red;
    border: none;
    border-radius: 100px;
}
.marco {
    margin: 25px; 
    border: 2px solid #000; 
    padding: 10; 
}
.texto {
    text-align: center;
}
.heart2{
    
    background-color: red;
    background-position: -400px -750px;
    transform: rotate(45deg);
    width: 205px;
    height: 205px;
    margin: 0 auto;
    margin-top: 100px;
}
.heart2::before,
.heart2::after {
    position: absolute;
    content: "";
    width: 205px;
    height: 205px;
    border-radius: 50%;
}
.heart2::before{
    top: -100px;
    background-color: red;
}
.heart2::after{
    top: 0px;
    left: -101px;
    background-color: red;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }