body {
    background: #23242a;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 5px;
}
a {
    color: #fff; /* Cambiar el color del enlace a blanco (#fff) */
    text-decoration: none; /* Esto quita la subrayado por defecto en los enlaces */
}
.text1
{
    text-decoration: underline;
}
.contenedor{
    width: 330px;
    height: 500px;
    border: 2px solid black;
    padding: 10px;
    margin: 0 auto;
}
.select {
    font-size:xx-large;
    background: #2a2f3b;
    color: #fff;
    border: 5pxpx #2a2f3b solid;
    border-radius: 0.5em;
    padding: 35px;
    margin: 5px;
}