.button {
    padding: 0.6em 0.9em;
    font-size: 1em;
    background-color: transparent;
    border: 0.2em solid;
    border-color: #00ffff #04ff00 #0051ff #d400ff;
    border-radius: 1.5em;
    color: #fff;
    cursor: pointer;
    -webkit-transition: border-radius 0.2s ease, color 0.2s ease,
      border-shadow 0.2s ease, border-style 0.2s ease, -webkit-transform 0.2s ease;
    transition: border-radius 0.2s ease, color 0.2s ease,
      border-shadow 0.2s ease, border-style 0.2s ease, -webkit-transform 0.2s ease;
    transition: transform 0.2s ease, border-radius 0.2s ease, color 0.2s ease,
      border-shadow 0.2s ease, border-style 0.2s ease;
    transition: transform 0.2s ease, border-radius 0.2s ease, color 0.2s ease,
      border-shadow 0.2s ease, border-style 0.2s ease, -webkit-transform 0.2s ease;
  }
a {
    color: #fff; /* Cambiar el color del enlace a blanco (#fff) */
    text-decoration: none; /* Esto quita la subrayado por defecto en los enlaces */
}
.contenedor {
    margin: 0 auto;
    border: 5px solid black;
    width: 200px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
}
.contenedor-img {
    margin-top: 5px;
    padding: 5px;
    border: 3px solid black;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}
body {
    background-color: #4c2882;
}
.imagenes {
    margin-top: 5px;
    width: 300px;
    border: 3px solid black;
}
.borde-text {
    margin-top: 5px;
    border: 2px solid black;
    height: px;
    width: 300px;
    text-align: center;
}
.caja1 {
    width: 100px;
    height: 100px;
    background-color: skyblue;
}
.caja2 {
    width: 100px;
    height: 100px;
    background-color: fuchsia;
}
.caja3 {
    width: 100px;
    height: 100px;
    background-color: purple;
}
.caja4 {
    width: 100px;
    height: 100px;
    background-color: #4c2882;
}
.caja5 {
    width: 100px;
    height: 100px;
    background-color: yellow;
}
.caja6 {
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
}
.caja7 {
    width: 100px;
    height: 100px;
    background-color: orange;
}
.caja8 {
    width: 100px;
    height: 100px;
    background-color: orangered;
}