.contenedor {
    margin: 0 auto;
    border: 5px solid black;
    width: 200px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
}
.caja1 {
    width: 100px;
    height: 100px;
    background-color: skyblue;
}
.caja2 {
    width: 100px;
    height: 100px;
    background-color: fuchsia;
}
.caja3 {
    width: 100px;
    height: 100px;
    background-color: purple;
}
.caja4 {
    width: 100px;
    height: 100px;
    background-color: #4c2882;
}
.caja5 {
    width: 100px;
    height: 100px;
    background-color: yellow;
}
.caja6 {
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
}
.caja7 {
    width: 100px;
    height: 100px;
    background-color: orange;
}
.caja8 {
    width: 100px;
    height: 100px;
    background-color: orangered;
}