body{
    background-color: #313131;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px
}
a {
    color: black; 
    text-decoration: none; 
}
.contenedor-padre {
    width: 350px;
    height: 515px;
    border: 2px solid black;
    margin: auto;
    background-color:#7f00b2 ;
    border-radius: 20px;
}
.contenedor {
    position: absolute;
    width: 320px;
    height: 330px;
    background-color: aqua;
    margin: auto;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin-top: 10px;
    margin-left: 13px;
    border-radius: 10px;
    border: 2px solid black;
}
.contenedor-text {
    width: 313px;
    height: 100px;
    margin-top: 15px;
    background-color: aqua;
    border-radius: 10px;
    border: 2px solid black;
    font-family: "Look for", sans-serif;
    padding: 3px;
}

.cancion {
    border: 2px solid black; 
    border-radius: 30px;
    display: inline-block;
    height: 55px;
    margin-left: 9px ;
}
.imagen1 {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    border: 2px solid black;
    margin-left: 10px;
    margin-top: 5px;
}
.button {
    padding: 0.6em 0.9em;
    font-size: 1em;
    background-color: #BC81F7;
    font-weight: bold;
    border: 0.2em solid;
    border-color: #00ffff #04ff00 #0051ff #d400ff;
    border-radius: 1.5em;
    color: #fff;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
  }
  .titulo {
    font-weight: bold;
  }

  .text {
    font-size: 15px;
  }
  .contenedor-padre2 {
    width: 350px;
    height: 475px;
    border: 2px solid black;
    margin: auto;
    background-color:#7f00b2 ;
    border-radius: 20px;
    margin-top: 10px;
}
.contenedor2 {
    position: absolute;
    width: 320px;
    height: 330px;
    background-color: aqua;
    margin: auto;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin-top: 10px;
    margin-left: 13px;
    border-radius: 10px;
    border: 2px solid black;
}
.contenedor-text2 {
    width: 313px;
    height: 100px;
    margin-top: 15px;
    background-color: aqua;
    border-radius: 10px;
    border: 2px solid black;
    font-family: "Look for", sans-serif;
    padding: 3px;
}
.button2 {
    padding: 0.6em 0.9em;
    font-size: 1em;
    background-color: #BC81F7;
    font-weight: bold;
    font-size: 15px;
    border: 0.2em solid;
    border-color: #00ffff #04ff00 #0051ff #d400ff;
    border-radius: 1.5em;
    color: black;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
  }
  .contenedor-desc-p {
    width: 350px;
    height: 200px;
    margin: auto;
    background-color: #7f00b2;
    border-radius: 10px;
    border: 2px solid black;
  }
  .contenedor-desc-h {
    width: 320px;
    height: 100px;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    background-color: aqua;
    font-family: "Look for", sans-serif;
  }
  .texto-desc {
    padding: 10px;
  }