body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 5px;
    background-color: #313131;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px
}
a {
    color: #fff; /* Cambiar el color del enlace a blanco (#fff) */
    text-decoration: none; /* Esto quita la subrayado por defecto en los enlaces */
}
.text1
{
    text-decoration: underline;
}
.contenedor{
    background: #23242a;
    width: 330px;
    height: 670px;
    border: 2px solid black;
    padding: 10px;
    margin: 0 auto;
    border-radius: 20px;
}
.select {
    font-size:xx-large;
    font-family: "Look for", sans-serif;
    background: #2a2f3b;
    color: #fff;
    border: 5pxpx #2a2f3b solid;
    border-radius: 0.5em;
    padding: 35px;
    margin: 5px;
}